<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="3.2.0" targetFramework="net451" />
  <package id="ColorMine" version="1.1.2.1" targetFramework="net451" />
  <package id="DotNetZip.Reduced" version="1.9.1.8" targetFramework="net45" />
  <package id="EntityFramework" version="6.1.0" targetFramework="net45" />
  <package id="EntityFramework.SqlServerCompact" version="6.1.0" targetFramework="net45" />
  <package id="EntityFramework.SqlServerCompact.PrivateConfig" version="1.0.0" targetFramework="net45" />
  <package id="Extended.Wpf.Toolkit" version="2.1.0" targetFramework="net45" />
  <package id="LINQKit" version="1.1.1" targetFramework="net451" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8876.1" targetFramework="net45" />
</packages>